// font-family: 'Glegoo', serif;
// font-family: 'Open Sans', sans-serif;
@import 'variables';

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.05em;
    font-weight: 300;
    color: $black;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $red;

    &:hover {
        text-decoration: underline;
    }
}

button,
fieldset,
input {
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
}

.button {
    display: block;
    // margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', serif;
    font-weight: 600;
    letter-spacing: 0.06em;
    font-size: 13px;
    padding: 15px;
    width: 100%;
    text-transform: uppercase;
    transition: ease 0.30s;
    cursor: pointer;

    &:hover {
        transition: ease 0.30s;
        text-decoration: none;
    }
}

.hide_mobile {
    display: none;
}

.flex {
    max-width: 1024px;
    margin: 0 auto;
}

.red {
    background: $red;
}

nav {
    padding: 25px 0;

    .hamburger {
        background: url("../img/hamburger.png");
        width: 40px;
        height: 25px;
        border: none;
        position: absolute;
        right: 20px;
        top: 33px;
    }

    .collapsed_nav {
        display: block;
    }

    img {
        width: 100%;
        max-width: 170px;
    }

    .nav-items-container {
        margin-top: 25px;
        display: none;

        > ul {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            text-align: left;
            width: 100%;

            li {
                float: left;
                flex-grow: 1;
                text-align: left;
                // border-top: 1px transparentize($brown, 0.90) solid;
                border-bottom: 1px transparentize($brown, 0.90) solid;

                &:first-child {
                    border-top: 1px transparentize($brown, 0.90) solid;
                }

                &:last-child {
                    border-bottom: none;
                }

                a {
                    font-size: 14px;
                    color: $black;
                    font-family: "Open Sans";
                    text-decoration: none;
                    text-align: left;
                    transition: ease 0.20s;
                    padding: 20px 0;
                    display: block;
                    width: 100%;
                    // height: 100%;
                    &:hover {
                        color: $red;
                        transition: ease 0.20s;
                    }
                }
            }
        }
        // .shop_link:hover .subnav {
        //     visibility: visible;
        //     transition: ease 0.30s;
        // }
        .subnav {
            display: none;
        }

        .site_search {
            order: -1;
            // padding-top: 19px;
        }
    }

    input[type="search"] {
        border: 1px $brown solid;
        width: 100%;
        // height: 28px;
        padding: 10px;
        font-size: 12px;
        color: $brown;
    }
}
//HEADER

.featured {
    background: url("../img/header.png") no-repeat center center / cover;
    position: relative;
    height: 350px;
    align-content: center;
    justify-content: center;
    margin-bottom: 25px;

    .feature-text {
        // position: absolute;
        max-width: 250px;
        // left: 50px;
        // bottom: 50px;
        text-align: center;

        span {
            float: left;
            font-size: 36px;
            letter-spacing: 0.05em;
            font-weight: 600;
            font-family: "Open Sans";
            color: #fff;
            margin-bottom: 7px;
            width: 100%;
        }

        p {
            padding: 0;
            margin: 0 0 15px;
            font-size: 22px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.05em;
            font-family: "Open Sans";
            color: #fff;
            width: 100%;
        }

        .button {
            background: #fff;
            max-width: 140px;
            text-decoration: none;
            margin: 0 auto;

            &:hover {
                background: $red;
                color: #fff;
            }
        }
    }
}

.feature-side {
    background: $red;
    height: 162px;
    display: flex;
    align-items: center;

    span {
        float: left;
        font-size: 18px;
        letter-spacing: 0.05em;
        font-weight: 600;
        font-family: "Open Sans";
        color: #fff;
        margin-bottom: 7px;
        width: 100%;
    }

    p {
        padding: 0;
        margin: 0 0 15px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 300;
        letter-spacing: 0.05em;
        font-family: "Open Sans";
        color: #fff;
        width: 100%;
    }

    .shopNow {
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        width: 100%;
    }

    .image {
        float: left;
        width: 50%;
        height: 162px;

        img {
            width: 100%;
            height: 162px;
        }
    }

    .image.top {
        background: url("../img/feature-side-1.png") no-repeat left center / cover;
    }

    .image.bottom {
        background: url("../img/feature-side-2.png") no-repeat left center / cover;
    }

    .text {
        float: left;
        width: calc(100% - 30px);
        padding: 10px 15px;
        text-align: center;
    }
}
// .padding {
//     padding-left: 50px;
//     padding-right: 50px;
// }

section {
    padding: 50px 0;

    h2 {
        font-size: 22px;
        font-weight: 400;
        font-family: "Open Sans";
        color: $black;
        text-transform: uppercase;
        padding-bottom: 50px;
    }

    .item {
        margin-bottom: 50px;

        a {
            display: block;
            text-decoration: none;
        }

        .price,
        .product_name {
            display: block;
            font-size: 15px;
            color: $black;
            // float: left;
            margin: 3px 0;
        }

        img {
            width: 100%;
        }
    }
}

#home_products {
    padding: 100px 50px 25px;
    // width: calc(100% - 230px);
}

#home_classes {
    .feature-side {
        height: 350px;

        .text {
            float: left;
            width: 100%;
            padding: 0 25px;
            text-align: center;

            span {
                float: left;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.05em;
                font-weight: 400;
                font-family: "Open Sans";
                color: #fff;
                margin-bottom: 12px;
            }

            p {
                padding: 0;
                margin: 0 0 15px;
                font-size: 18px;
                line-height: 22px;
                font-weight: 300;
                letter-spacing: 0.05em;
                font-family: "Open Sans";
                color: #fff;
            }
        }

        .button {
            background: #fff;
            max-width: 175px;
            text-decoration: none;
            cursor: pointer;
            margin: 0 auto;

            &:hover {
                background: $brown;
                color: #fff;
            }
        }
    }

    .featured {
        background: url("../img/classes.png") no-repeat center center / cover;
    }
}

#newsletter {
    text-align: center;
    padding-bottom: 100px;

    h3 {
        font-size: 26px;
        color: $brown;
        text-transform: uppercase;
        padding: 0 0 7px;
    }

    p {
        padding: 0 0 25px;
        margin: 0;
        font-size: 22px;
        color: $black;
    }

    input {
        border: 1px $brown solid;
        font-size: 14px;
        // color: transparentize($brown,0.5);
        color: $brown;
        text-transform: uppercase;
        text-align: left;
        padding: 15px 15px 12px;
        display: inline-block;
        min-width: 200px;
    }

    button {
        // border: 1px $red solid;
        border: none;
        display: inline-block;
        text-align: center;
        font-family: 'Open Sans', serif;
        font-weight: 600;
        letter-spacing: 0.06em;
        font-size: 13px;
        padding: 15px;
        width: 112px;
        text-transform: uppercase;
        transition: ease 0.30s;
        // float:left;
        background: $red;
        color: #fff;
        margin-left: -6px;
        cursor: pointer;

        &:hover {
            // border: 1px $brown solid;
            transition: ease 0.30s;
            background: $brown;
        }
    }
}

#pre-footer {
    background: $red;
    width: 100%;
    padding: 25px 0;
    text-align: center;

    .social {
        justify-content: center;

        img {
            margin: 0 0 0 15px;
            // height:
        }
    }
}

footer {
    text-align: center;
    padding: 50px 0;

    .col {
        margin: 15px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    h4 {
        font-size: 15px;
        color: $brown;
        text-transform: uppercase;
        padding: 0 0 24px;
    }

    p {
        padding: 0 0 25px;
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        color: $black;
    }

    input {
        border: 1px $brown solid;
        font-size: 14px;
        // color: transparentize($brown,0.5);
        color: $brown;
        text-transform: uppercase;
        text-align: left;
        padding: 15px 15px 12px;
        display: inline-block;
        min-width: 150px;
        -webkit-appearance: none;
    }

    button {
        // border: 1px $red solid;
        -webkit-appearance: none;
        border: none;
        display: inline-block;
        text-align: center;
        font-family: 'Open Sans', serif;
        font-weight: 600;
        letter-spacing: 0.06em;
        font-size: 13px;
        padding: 15px;
        width: 112px;
        text-transform: uppercase;
        transition: ease 0.30s;
        // float:left;
        background: $red;
        color: #fff;
        margin-left: -6px;
        cursor: pointer;

        &:hover {
            // border: 1px $brown solid;
            transition: ease 0.30s;
            background: $brown;
        }
    }
}

.product-head {
    background: url("../img/clay.jpg") no-repeat center center / cover;
    position: relative;
    height: 250px;

    .product-title {
        width: 100%;
        align-content: center;
        justify-content: center;
        height: 85px;

        h2 {
            font-size: 50px;
            font-family: "Open Sans";
            font-weight: 300;
            color: #fff;
            text-transform: uppercase;
            // margin: 0 0 50px 50px;
            // line-height: ;
        }
    }

    .product-breadcrumbs {
        color: #fff;
        width: 100%;
        padding: 15px 0;
        bottom: 0;
        background: $red;
        // padding-left: 50px;
        justify-content: center;
        text-align: center;

        a {
            color: #fff;
            margin-bottom: 15px;
        }
    }

    input[type="search"] {
        margin-top: 15px;
        border: 1px #fff solid;
        width: 225px;
        // height: 28px;
        padding: 10px;
        font-size: 12px;
        color: #fff;
        background: $red;
        background: url("../img/search_white.png") no-repeat 97% center / 10%;
    }
}

#content {
    h2 {
        padding-bottom: 30px !important;
        display: none;
    }
}
// #content.category_page{
//   padding: 50px 50px;
//   width: calc(100% - 150px);
// }
// #content.product_page{
//   padding: 50px 25px 50px 50px;
//   width: calc(100% - 200px);
// }

.side_nav_mobile {
    width: 100%;
    padding: 10px 0;
    background: $red;
    color: #fff;
    cursor: pointer;

    p {
        font-size: 16px;
        line-height: 100%;
        text-decoration: none;
        transition: ease 0.30s;
        padding-left: 25px;
    }

    span {
        font-size: 30px;
        padding-right: 50px;
    }
}

#side_navigation {
    display: none;

    .nav_section {
        padding: 15px 25px;
        background: $red;
        border-bottom: 1px transparentize(#fff, 0.75) solid;

        a {
            text-decoration: none;

            h3 {
                font-size: 16px;
                color: #fff;
                text-transform: uppercase;
                font-weight: 600;
                padding-bottom: 7px;
                text-decoration: none;
                transition: ease 0.30s;

                &:hover {
                    color: $black;
                    transition: ease 0.30s;
                }
            }
        }

        ul.side_nav_list {
            display: none;
        }
    }
}

#category_container {
    margin-top: 25px;

    &:first-child {
        margin: 0;
    }

    .category {
        padding-bottom: 25px;
    }

    .category-link {
        background: url("../img/category.jpg") no-repeat center center / cover;
        position: relative;
        height: 220px;

        a.category-title {
            font-size: 16px;
            color: #fff;
            width: 100%;
            padding: 10px 50px 15px;
            bottom: 0;
            background: $red;
            padding-left: 50px;
            line-height: 100%;
            text-decoration: none;
            transition: ease 0.30s;

            &:hover {
                background: $brown;
                transition: ease 0.30s;
            }

            span {
                font-size: 30px;
                margin-top: -5px;
            }
        }
    }
}

.pagination {
    max-width: 125px;

    a {
        font-size: 14px;
        color: $brown;
        font-weight: 600;
    }

    .previous {
        font-size: 24px;
        margin-top: -8px;
    }

    .active {
        color: $red;
    }

    .next {
        font-size: 24px;
        margin-top: -8px;
    }
}

#product_container {
    margin: 0 auto;

    #products {
        margin-top: 25px;
    }
}

#product_details {
    padding-top: 0;

    .product_title {
        font-size: 36px;
        font-weight: 300;
        color: $black;
        text-transform: uppercase;
        line-height: 38px;
        display: block;
        margin-bottom: 30px;
    }

    .product_price {
        font-size: 24px;
        font-weight: 300;
        color: $black;
        line-height: 24px;
        display: block;
        margin-bottom: 10px;
    }

    .stock {
        font-size: 14px;
        font-weight: 300;
        color: $brown;
        line-height: 14px;
        display: block;
        margin-bottom: 30px;
    }

    .product_desc {
        font-size: 16px;
        font-weight: 300;
        color: $black;
        line-height: 24px;
        display: block;
        padding-bottom: 25px;
        margin: 0;
    }

    form {
        height: 40px;

        select {
            width: 100%;
            border: 1px #742b02 solid;
            padding: 5px;
            border-radius: 0;
            margin-bottom: 25px;
        }
    }

    .shipping_price_qty {
        border: 1px #742b02 solid;
        border-collapse: collapse;
        width: 100%;

        tr {
            td,
            th {
                width: auto !important;
                border: 1px #742b02 solid;
            }
        }

        .table_price {
            width: 30%;
        }

        .table_qty {
            width: 70%;
        }

        .table_price,
        .table_qty {
            padding: 7px 20px;
        }
    }

    #product_photos {
        order: -1;

        .product_slider {
            // margin-left: 12.5px;
            border: 1px #742b02 solid;
            margin-bottom: 25px;

            img {
                width: 100%;
            }
        }
    }
}

#general-1,
#general-2,
#general-3 {
    padding-top: 0;

    h3 {
        font-size: 36px;
        font-weight: 300;
        color: $black;
        text-transform: uppercase;
        line-height: 38px;
        display: block;
        margin-bottom: 30px;
    }

    h4 {
        font-size: 24px;
        font-weight: 300;
        color: $red;
        // text-transform: uppercase;
        line-height: 26px;
        display: block;
        margin-bottom: 30px;
    }

    p {
        font-size: 16px;
        font-weight: 300;
        color: $black;
        line-height: 24px;
        display: block;
        padding-bottom: 25px;
        margin: 0;

        &:last-child {
            padding-bottom: 0;
        }
    }

    img {
        width: 100%;
        // width: calc(100% - 13px);
        margin-bottom: 25px;
    }
}

#general-3 {
    img {
        margin-top: 25px;
    }
}
//CLASSES

.class-head {
    background: url("../img/class.jpg") no-repeat center center / cover;
    position: relative;
    height: 250px;

    .class-title {
        width: 100%;
        align-content: center;
        justify-content: center;
        height: 85px;

        h2 {
            font-size: 50px;
            font-family: "Open Sans";
            font-weight: 300;
            color: #fff;
            text-transform: uppercase;
            // margin: 0 0 50px 50px;
            // line-height: ;
        }
    }

    .class-breadcrumbs {
        color: #fff;
        width: 100%;
        padding: 15px 0;
        bottom: 0;
        background: $red;
        // padding-left: 50px;
        justify-content: center;
        text-align: center;

        a {
            color: #fff;
            margin-bottom: 15px;
        }
    }

    input[type="search"] {
        margin-top: 15px;
        border: 1px #fff solid;
        width: 225px;
        // height: 28px;
        padding: 10px;
        font-size: 12px;
        color: #fff;
        background: $red;
        background: url("../img/search_white.png") no-repeat 97% center / 10%;
    }
}

#cart,
#checkout,
#login, #cart_totals_container {
    padding-top: 25px;

    .page_title {
        font-size: 36px;
        font-weight: 300;
        color: $black;
        text-transform: uppercase;
        line-height: 38px;
        display: block;
        margin-bottom: 30px;
    }

    .half {
        width: 100%;
    }

    .third {
        width: calc(33.33% - 10px);
    }

    h3 {
        padding-bottom: 25px;
    }

    form {
        // height: 40px;
        width: 100%;

        select {
            //cart_quantity
            width: 100%;
            border: 1px #742b02 solid;
            padding: 5px;
            border-radius: 0;
            min-width: 60px;
        }
    }

    .cart_table {
        // border: 1px #742b02 solid;
        border-collapse: collapse;
        vertical-align: middle;
        width: 100%;

        table{        border-collapse: collapse;
                vertical-align: middle;
                width: 100%;
              }

        tr {
          width: 100%;
            &:nth-child(odd) {
                background: transparentize($black, 0.98);
            }

            th {
                background: $brown;
                font-size: 12px;
            }

            td,
            th {
                width: auto;
            }

            th {
                padding: 10px 0 !important;
            }
            // td{
            //   font-size: 10px;
            // }
        }

        p {
            display: inline;
            margin: 0;
            padding: 15px 0;
            float: left;
            padding: 28px 0;
            float: left;
            margin-left: 15px;

        }

        img {
            max-width: 75px;
            float: left;
        }

        .table_product {
            width: 100%;
            padding: 15px 0;
            float: left;
        }

        td.table_product a {
            color: $black;
        }

        .table_price {
            width: 100%;
            padding: 15px 0;
            border-top: 1px solid transparentize($brown, 0.8);
            float: left;
        }

        .table_qty {
            width: 100%;
            padding: 15px 0;
            border-top: 1px solid transparentize($brown, 0.8);
            float: left;
        }
        input.qty{
          width: 100%;
          max-width: 50px;
          border: 1px #742b02 solid;
          padding: 5px;
        }

        .product_price {
            width: 100%;
            padding: 15px 0;
            border-top: 1px solid transparentize($brown, 0.8);
            float: left;

        }

        .table_remove_product {
            width: 100%;
            padding: 15px 0;
            font-size: 20px;
            font-weight: 700;
            border-top: 1px solid transparentize($brown, 0.8);
            float: left;
            img {
                float: none;
            }
        }

        .new-price {
            color: $red;
        }
    }

    $breakpoint-alpha: 768px; // adjust to your needs
    .rwd-table {
      tr {
        // border-top: 1px solid #ddd;
        // border-bottom: 1px solid #ddd;
      }

      th {
        display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
      }

      td {
        display: block;
        //
        // &:first-child {
        //   padding-top: .5em;
        // }
        // &:last-child {
        //   padding-bottom: .5em;
        // }

        &:before {
          content: attr(data-th); // who knew you could do this? The internet, that's who.
          font-weight: bold;
          font-size: 16px;
          padding-bottom: 15px;

          // optional stuff to make it look nicer
          width: 100%; // magic number :( adjust according to your own content
          display: inline-block;
          // end options

          @media (min-width: $breakpoint-alpha) {
            display: none;
          }
        }
      }

      th, td {

        @media (min-width: $breakpoint-alpha) {
          display: table-cell;

            tr, td {
              border: none;
            }
          // padding: .25em .5em;
          //
          // &:first-child {
          //   padding-left: 0;
          // }
          //
          // &:last-child {
          //   padding-right: 0;
          // }
        }
      }

      .cart_item{
        &:nth-child(odd){
          background: transparentize($black, .95);;
        }
      }

      .coupon_container{
        border: none;

        button{
          width: auto;
        }
        .actions{
          width: 100%;
            border: none;
      }
      .coupon{
        padding: 15px 0;
        float: left;
        width: 100%;
        input{
          margin: 10px 0 0;
        }
      }

    }
  }




    .button_container {
        justify-content: flex-end;
    }

    button {
        // border: 1px $red solid;
        border: none;
        display: inline-block;
        text-align: center;
        font-family: 'Open Sans', serif;
        font-weight: 600;
        letter-spacing: 0.06em;
        font-size: 13px;
        padding: 15px 25px;
        // width: 112px;
        text-transform: uppercase;
        transition: ease 0.30s;
        // float:left;
        background: $red;
        color: #fff;
        margin-top: 25px;
        cursor: pointer;
        align-self: flex-end;

        &:hover {
            // border: 1px $brown solid;
            transition: ease 0.30s;
            background: $brown;
        }
    }

    input[type="email"],
    input[type="password"],
    input[type="text"] {
        margin-top: 15px;
        border: 1px $brown solid;
        // width: 225px;
        // height: 28px;
        padding: 10px;
        font-size: 13px;
        color: $brown;
        background: #fff;
    }

    #first,
    #last {
        display: inline-block;
    }

    #first {
        margin-right: 0;
    }

    #email {
        width: 100%;
    }

    .sameAsShipping {
        margin-top: 15px;
        order: -1;

        label {
            font-size: 14px;
            color: #742b02;
            line-height: 21px;
        }
        /* Base for label styling */
        [type="checkbox"]:checked,
        [type="checkbox"]:not(:checked) {
            position: absolute;
            left: -9999px;
            // position: relative;
            // left: -206px;
            // top: 28px;
        }

        [type="checkbox"]:checked + label,
        [type="checkbox"]:not(:checked) + label {
            position: relative;
            padding-left: 35px;
            cursor: pointer;
        }
        /* checkbox aspect */
        [type="checkbox"]:checked + label:before,
        [type="checkbox"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            border: 2px solid #ccc;
            background: #fff;
            border-radius: 0;
            border: 1px solid $brown;
        }
        /* checked mark aspect */
        [type="checkbox"]:checked + label:after,
        [type="checkbox"]:not(:checked) + label:after {
            content: '✔';
            position: absolute;
            top: 0.1em;
            left: 0.3em;
            font-size: 1.3em;
            line-height: 0.8;
            color: $brown;
            transition: all 0.15s;
        }
        /* checked mark aspect changes */
        [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
        }

        [type="checkbox"]:checked + label:after {
            opacity: 1;
            transform: scale(1);
        }
        /* disabled checkbox */
        [type="checkbox"]:disabled:checked + label:before,
        [type="checkbox"]:disabled:not(:checked) + label:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #ddd;
        }

        [type="checkbox"]:disabled:checked + label:after {
            color: #999;
        }

        [type="checkbox"]:disabled + label {
            color: #aaa;
        }
        /* accessibility */
        [type="checkbox"]:checked:focus + label:before,
        [type="checkbox"]:not(:checked):focus + label:before {
            border: 2px solid red;
        }
    }

    #payment_info {
        width: 100%;
        padding-top: 50px;

        #payment_type {
            > .flex {
                border: 1px solid transparentize($brown, 0);
                padding: 15px;
            }

            h4 {
                font-size: 13px;
                padding-bottom: 15px;
                letter-spacing: 0.05em;
                font-weight: 300;
                color: $brown;
            }

            input[type="radio"] {
                display: inline-block;
                width: auto;
                display: none;
                box-sizing: border-box;
            }

            input[type="radio"]:checked + label {
                border: 1px solid $black;
            }

            label {
                width: calc(20% - 11px);
                padding: 5px;
            }

            img {
                // height: 35px;
                width: 100%;
            }
        }
    }

    #CVV,
    #state,
    #zip {
        margin-right: 15px;
    }

    #expMonth,
    #expYear {
        width: calc(33.33% - 13px);
    }

    .slash {
        display: block;
        margin-top: 15px;
        text-align: center;
        width: 20px;
        font-size: 30px;
        color: transparentize($brown, 0.5);
    }
}


.link_button{
  font-size: 14px;
  line-height: 22px;
  span{
    font-size: 20px;
    margin-top: 1px;
  }
}


#cart_totals_container{
  padding: 0 0 100px;
}


#login {
    #password,
    #username {
        width: 100%;
    }

    .or {
        // display: block;
        align-items: center;
        height: 100%;

        span {
            padding: 50px 0;
        }
    }
}
// =========================================
// DESKTOP SYLES
// =========================================
@media only screen and (min-width: 480px) {
    .hide_mobile {
        display: block;
    }

    .featured {
        align-content: flex-end;
        justify-content: flex-start;

        .feature-text {
            text-align: left;
            margin: 0 0 50px 50px;

            .button {
                margin: 0;
            }
        }
    }

    .feature-side .text {
        width: calc(50% - 30px);
        text-align: left;
    }


}
@media only screen and (min-width: 543px) {
    #cart .cart_table p {
        padding: 28px 15px;
    }
}
@media only screen and (min-width: 768px) {
    nav {
        padding: 50px 0;

        .hamburger {
            background: url("../img/hamburger.png");
            width: 40px;
            height: 25px;
            border: none;
            position: absolute;
            right: 20px;
            top: 33px;
        }

        .collapsed_nav {
            display: none;
        }

        img {
            width: 100%;
            max-width: 230px;
        }

        .nav-items-container {
            margin: 0;
            display: block !important;

            > ul {
                display: flex;
                justify-content: flex-end;
                flex-direction: row;
                width: 100%;

                li {
                    float: left;
                    flex-grow: 1;
                    text-align: right;
                    padding: 10px 0 0;
                    border: none;

                    &:first-child {
                        border-top: none;
                    }

                    a {
                        font-size: 14px;
                        color: $black;
                        font-family: "Open Sans";
                        text-decoration: none;
                        text-align: left;
                        transition: ease 0.20s;
                        padding: 0;

                        &:hover {
                            color: $red;
                            transition: ease 0.20s;
                        }
                    }
                }
            }

            .shop_link:hover .subnav {
                visibility: visible;
                transition: ease 0.30s;
                display: block;
            }

            .subnav {
                // margin-top: 25px;
                visibility: hidden;
                position: absolute;
                width: 100%;
                background: #fff;
                z-index: 10;
                left: 0;
                padding: 25px 0;
                border-top: 1px transparentize($brown, 0.90) solid;
                border-bottom: 1px transparentize($brown, 0.90) solid;
                // margin-top: 35px;
                transition: ease 0.30s;

                h3 {
                    font-size: 16px;
                    color: $brown;
                    text-transform: uppercase;
                    font-weight: 600;
                    padding-bottom: 7px;
                    text-decoration: none;
                    transition: ease 0.30s;
                }

                li {
                    float: left;
                    width: 100%;
                    text-align: left;
                    line-height: 16px;
                    padding: 5px 0;
                }
            }

            .site_search {
                order: 1;
            }
        }

        .nav-items-container > ul > li > a {
            padding-top: 11px;
            display: block;
            height: 50px;
        }

        input[type="search"] {
            border: 1px $brown solid;
            width: 225px;
            // height: 28px;
            padding: 10px;
            font-size: 12px;
            color: $brown;
        }
    }

    #content {
        h2 {
            display: block;
        }
    }

    .featured {
        margin-bottom: 0;
    }

    #pre-footer {
        text-align: left;

        .social {
            justify-content: flex-end;
        }
    }

    .class-head,
    .product-head {
        height: 350px;

        .class-title,
        .product-title {
            width: 100%;
            align-content: flex-end;
            justify-content: flex-start;
            height: 285px;

            h2 {
                font-size: 79px;
                font-family: "Open Sans";
                font-weight: 300;
                color: #fff;
                text-transform: uppercase;
                margin: 0 0 50px 50px;
            }
        }

        .class-breadcrumbs,
        .product-breadcrumbs {
            justify-content: space-between;
            text-align: left;
            padding: 15px 50px;
        }

        .class_search,
        .product_search {
            align-self: flex-end;
            text-align: right;
        }

        input[type="search"] {
            margin-top: 0;
        }
    }

    .side_nav_mobile {
        display: none;
    }

    #side_navigation {
        display: block;

        .nav_section {
            padding: 0 0 10px;
            background: none;
            border: none;

            a {
                text-decoration: none;

                h3 {
                    font-size: 16px;
                    color: $brown;
                    text-transform: uppercase;
                    font-weight: 600;
                    padding-bottom: 7px;
                    text-decoration: none;
                    transition: ease 0.30s;

                    &:hover {
                        color: $black;
                        transition: ease 0.30s;
                    }
                }
            }

            ul.side_nav_list {
                display: block;

                li {
                    a {
                        font-size: 14px;
                        color: $black;
                        font-weight: 300;
                        line-height: 21px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    #category_container .category-link a.category-title {
        font-size: 26px;

        span {
            font-size: 60px;
            margin-top: -15px;
        }
    }

    #product_details {
        #product_photos {
            order: 2;

            .product_slider {
                margin-left: 12.5px;
                border: 1px #742b02 solid;

                img {
                    width: 100%;
                }
            }
        }
    }

    #general-3 {
        img {
            margin-top: 0;
        }
    }

    #cart,
    #checkout,
    #login {
        margin: 0 auto;
        padding: 0 0 100px;

        .half {
            width: calc(50% - 8px);
        }

        #CVV,
        #first {
            margin-right: 15px;
        }

        .sameAsShipping {
            order: 1;
        }

        #payment_info #payment_type label {
            width: calc(20% - 21px);
            padding: 10px;
        }
    }



    #cart .cart_table{
        .table_product {
            width: 60%;
            padding: 15px;
            float: none;
            border-top:none;
        }

        td.table_product a {
            color: $black;
        }

        .table_price {
            width: 15%;
            text-align: center;
            padding: 15px;
            border-top:none;
            float: none;
        }

        .table_qty {
            width: 10%;
            padding: 15px;
            border-top:none;
            float: none;
        }
        input.qty{
          width: 100%;
        }

        .product_price {
            width: 10%;
            padding: 15px;
            text-align: center;
            border-top:none;
            float: none;
        }

        .table_remove_product {
            text-align: center;
            width: 5%;
            padding: 15px;
            font-size: 20px;
            font-weight: 700;
            border-top:none;
            float: none;

            img {
                float: none;
            }
        }
      }

}
@media only screen and (min-width: 960px) {
    #home_classes .feature-side .text {
        text-align: left;
        padding: 0 50px;

        .button {
            max-width: 185px;
            margin: 0;
        }
    }
}
@media only screen and (min-width: 1024px) {
    .hide_mobile {
        display: block;
    }

    #checkout #payment_info #payment_type img {
        max-width: 70px;
    }
}
